            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                outline: none;
                -webkit-font-smoothing: antialiased;
            }
            
            body {
                width: 100%;
                height: 100vh;
                color: rgb(102, 102, 102);
                line-height: 1.7em;
                -webkit-font-smoothing: antialiased;
            }
            
            a {
                text-decoration: none;
                /* color: #66667D; */
            }
            
            h2 {
                font-family: 'Work Sans', sans-serif;
            }
            
            header {
                display: block;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: 999;
                width: 100%;
                animation-duration: 500ms;
            }
            
            #heads {
                position: fixed;
                width: 100%;
                display: flex;
                border-bottom: 1px solid #f2f2f2;
                padding-top: 20px;
                align-items: center;
                padding-left: 89px;
                padding-right: 89px;
                color: #000;
            }
            
            .navbodys {
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                color: #000;
            }
            
            #navrun {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                text-align: center;
                color: #000;
                padding-right: 130px;
            }
            
            #navrun a {
                color: #000;
                margin: 0px 25px;
                text-decoration: none;
            }
            
            .logo .oxford {
                width: 160px;
                margin-bottom: 10px;
            }
            
            .registered {
                display: block;
            }
            
            .registered a {
                text-decoration: none;
            }
            
            #btned {
                background-color: rgba(28 36 97);
                color: #fff;
                font-size: 16px;
                border-radius: 5px;
                text-decoration: none;
                border: 1px solid#283697;
                /* transition: ease 0S; */
            }
            
            #btned:hover {
                color: #283697;
                font-weight: 400;
                background-color: #fff;
            }
            
            .blued {
                background-color: rgb(28 36 97);
            }
            
            .banner {
                width: 100%;
                height: 25em;
                background: linear-gradient(rgba(243, 244, 251, 0.5), rgba(243, 244, 251, 0.5)), url('../img/360_F_470378319_O12dSLQ2tQCgMqnc0omif5Rc3dXGFY2D.jpg');
                background-position: center;
                background-size: cover;
            }
            
            .container {
                width: 50%;
                padding: 110px 0;
                text-align: center;
            }
            
            .visual_banner h2 {
                text-transform: capitalize;
                font-weight: bold;
                margin-top: 40px;
                font-size: 40px;
                line-height: 50px;
                text-shadow: 0 1px 2px rgb(189 184 231);
                color: #1C2461;
            }
            
            .banner_search {
                display: flex;
                justify-content: center;
                position: relative;
                left: 40vh;
                bottom: 20px;
                align-items: center;
                column-gap: 13px;
                background: #fff;
                padding: 4px 10px;
                border: 1px solid #14225C;
                color: #999;
                border-radius: 30px;
                margin-top: 60px;
                width: 40rem;
            }
            
            .banner_search input {
                width: 100%;
                border: none;
                background: transparent;
                margin-left: 20px;
                height: 100%;
                padding: 5px 14px;
                transition: all 400ms ease-in-out;
                font-size: 16px;
            }
            
            .banner_search input:focus {
                outline: none;
            }
            
            .banner_search input:hover {
                padding-left: 0px;
            }
            
            #searched {
                padding: 15px;
                border-radius: 50%;
                color: #fff;
                background-color: #14225C;
                border: 1px solid #14225C;
            }
            
            #searched:hover {
                background-color: #fff;
                color: #1C2461;
            }
            
            #footeref {
                background-color: #F2F1F1;
                width: 100%;
                height: 70vh;
                /* z-index: 7; */
            }
            
            .footer_continer {
                margin-left: 15vh;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
            
            .h2_row {
                margin-top: 14vh;
                text-align: start;
                color: #66667D;
            }
            
            .h2_row h2 {
                font-size: 20px;
                font-family: 'Work Sans', sans-serif;
                font-weight: bold;
                color: #000;
                line-height: 1.2rem;
                line-height: 60px;
            }
            
            .h2_row p {
                color: rgb(102, 102, 102);
                font-size: 14px;
            }
            
            .linked {
                position: relative;
                right: 4vh;
                font-family: 'Rubik', sans-serif;
                color: #66667D;
            }
            
            .linked a {
                font-weight: 400;
                font-size: 15px;
                color: rgb(102, 102, 102);
                font-weight: 500;
            }
            
            #go {
                padding: 10px;
                background-color: #fff;
                border-radius: 50px;
                color: #66667D;
                margin-top: 10px;
                margin: 0px 25px;
            }
            
            #move {
                position: relative;
                right: 8.5vh;
                top: 1px;
                margin: 0px 25px;
                padding: 10px;
                border-radius: 50px;
                color: #66667D;
                background-color: #fff;
            }
            
            .navigations {
                display: block;
                margin-top: 14vh;
                margin-left: 5vh;
                color: #66667D;
            }
            
            .navigations h4 {
                font-size: 20px;
                font-weight: 500;
                color: #000;
            }
            
            .navigations div {
                display: grid;
                grid-template-rows: repeat(4, 1fr);
                margin-top: 30px;
            }
            
            .navigations a {
                font-size: 15px;
                color: #66667D;
            }
            
            .newsShow {
                margin-top: 13.5vh;
                position: relative;
                right: 10vh;
                color: #66667D;
            }
            
            .newsShow h3 {
                font-size: 20px;
                color: #000;
            }
            
            .newsShow p {
                width: 80%;
                color: #737573;
                font-size: 14.5px;
            }
            
            .copy {
                margin-top: 40px;
                margin-left: 100px;
                font-size: 14.4px;
            }
            
            .newsShow .form-group input[type="email"] {
                position: relative;
                display: block;
                width: 330px;
                line-height: 28px;
                height: 44px;
                font-size: 14px;
                color: #000;
                font-weight: 400;
                padding: 10px 20px;
                background: #fff;
                border-radius: 5px;
                transition: all 300ms ease 0s;
                border: 1px solid rgb(204, 204, 204);
                outline: none;
            }
            
            .newsShow .form-group .arrow_nav {
                position: absolute;
                right: 90px;
                top: 90px;
                height: 44px;
                line-height: 44px;
                color: #000000;
                font-size: 20px;
                text-align: center;
                background: none;
                width: 40px;
                cursor: pointer;
                background: none;
                text-transform: capitalize;
            }
            
            button {
                background: none;
                border: none;
            }
            
            #arrow_locate[data-v-3cf17207]:hover {
                transition: all .4s ease-in-out;
            }
            
            #arrow_locate.show {
                opacity: 1;
            }
            
            #arrow_locate:hover {
                background-color: #000;
            }
            
            #arrow_locate {
                bottom: 40px;
                cursor: pointer;
                width: 40px;
                height: 40px;
                line-height: 40px;
                opacity: 0;
                position: fixed;
                color: #fff;
                right: 30px;
                text-align: center;
                z-index: 1000;
                background: #283697;
                border-width: 0px;
                border-style: none;
                border-color: initial;
                border-image: initial;
                border-radius: 2px;
                outline: none medium;
                text-decoration: none;
                transition: opacity 0.2s ease-out 0s;
            }
            
            #navbared {
                right: -320px;
                top: 0;
                z-index: 2;
                transition: 0.5s;
                height: 100vh;
                width: 320px;
                font-size: 15px;
                text-transform: uppercase;
                position: fixed;
                background-color: #fff;
                color: #080605;
            }
            
            nav ul li {
                border-bottom: 2px solid #f2f2f2;
                line-height: 50px;
                list-style: none;
                margin: 10px 20px;
            }
            
            nav ul li a {
                margin-top: 20px;
                color: #000;
            }
            
            #logoss img {
                margin: 12px 0 0 20px;
                width: 100px;
                background-color: white;
            }
            
            #logoss {
                line-height: 50px;
                border-bottom: 1px solid #f2f2f2;
            }
            
            #menuBtn {
                display: none;
                width: 50px;
                height: 45.4px;
                background: transparent;
                border: none;
                text-align: center;
                position: fixed;
                right: 25px;
                top: 3px;
                color: #000;
                border-radius: 10px;
                z-index: 3;
                cursor: pointer;
            }
            
            #menuBtn img {
                width: 35px;
            }
            
            .register {
                margin-left: 50vh;
                display: block;
                margin-top: 20px;
            }
            
            #btneds {
                background-color: rgba(28 36 97);
                color: #fff;
                margin-left: 10px;
                padding: 15px 35px;
                border: none;
                border-radius: 5px;
                font-size: 13px;
                transition: ease .98s;
            }
            
            .btnm {
                border: none;
                margin-left: 20px;
                padding: 15px 35px;
                border-radius: 5px;
                box-shadow: 2px 1px rgb(233, 243, 247);
                font-size: 13px;
            }
            
            button {
                background: none;
                border: none;
            }
            
            .btnm:hover {
                border: 1px solid #14225C;
                color: #283697;
                background-color: #fff;
            }
            
            .spanner {
                font-size: 32px;
                margin-top: 120px;
                margin-left: 30px;
                color: black;
            }
            
            @media screen and (max-width:1024px) {
                html,
                body {
                    width: 100%;
                    overflow-x: hidden!important
                }
                #heads {
                    padding-top: 0px;
                    padding-left: 29px;
                    padding-right: 29px;
                }
                #navrun {
                    font-size: 14px;
                    padding-right: 60px;
                }
                #navrun a {
                    margin: 0px 15px;
                }
                .banner_search {
                    left: 25vh;
                    width: 35rem;
                }
                .newsShow .form-group .arrow_nav {
                    right: 5px;
                    top: 110px;
                }
                .linked {
                    right: 0vh;
                    margin-bottom: 20px;
                }
                #move {
                    position: relative;
                    right: 10vh;
                }
                #go {
                    position: relative;
                    right: 30px;
                    /* margin-right: 25px; */
                }
            }
            
            @media screen and (max-width:768px) {
                html,
                body {
                    width: 100%;
                    overflow-x: hidden!important
                }
                .navbodys {
                    display: none;
                }
                #navbared {
                    right: -320px;
                    top: 0;
                    z-index: 2;
                    transition: 0.5s;
                    height: 100vh;
                    width: 320px;
                    font-size: 15px;
                    text-transform: uppercase;
                    position: fixed;
                    background-color: #fff;
                    color: #080605;
                }
                #menuBtn {
                    margin-top: 0px;
                    display: flex;
                }
                nav ul li {
                    position: relative;
                    right: 45px;
                    width: 300px;
                    border-bottom: 2px solid #f2f2f2;
                    line-height: 53px;
                    list-style: none;
                }
                nav ul li a {
                    position: relative;
                    right: 0px;
                    margin-top: 20px;
                    color: #000;
                }
                #logoss img {
                    margin: 18px 0 20px 20px;
                    width: 100px;
                    background-color: white;
                }
                #logoss {
                    line-height: 50px;
                    border-bottom: 1px solid #f2f2f2;
                }
                #menuBtn {
                    display: block;
                    width: 50px;
                    height: 45.4px;
                    background: transparent;
                    border: none;
                    text-align: center;
                    position: fixed;
                    right: 25px;
                    top: 3px;
                    border-radius: 10px;
                    z-index: 3;
                    cursor: pointer;
                }
                #menuBtn img {
                    width: 35px;
                }
                .register {
                    display: block;
                    margin-left: 1vh;
                    margin-top: 2px;
                }
                #btneds {
                    background-color: rgba(28 36 97);
                    color: #fff;
                    margin-left: 10px;
                    padding: 8px 37px;
                    border: none;
                    border-radius: 5px;
                    font-size: 15px;
                    transition: ease .98s;
                }
                .btnm {
                    border: 1px solid red;
                    margin-left: 10px;
                    padding: 8px 37px;
                    border-radius: 5px;
                    box-shadow: 2px 1px rgb(233, 243, 247);
                    font-size: 15px;
                }
                .logo .oxford {
                    width: 110px;
                    margin-bottom: 0px;
                    position: relative;
                    top: 10px;
                }
                .banner_search {
                    left: 20vh;
                    width: 30rem;
                }
                #footeref {
                    height: 42em;
                }
                .footer_continer {
                    margin-left: 5vh;
                    grid-template-columns: repeat(2, 1fr);
                }
                #move {
                    position: relative;
                    top: 10px;
                    right: 15vh;
                }
                #go {
                    position: relative;
                    top: 10px;
                    right: 30px;
                }
                .navigations {
                    margin-top: 5.5em;
                    margin-left: 10vh;
                }
                .newsShow {
                    right: 0vh;
                }
                .newsShow .form-group .arrow_nav {
                    right: 40px;
                    top: 90px;
                }
            }
            
            @media screen and (max-width:425px) {
                html,
                body {
                    width: 100%;
                    overflow-x: hidden!important
                }
                .logo .oxford {
                    width: 90px;
                    margin-bottom: 10px;
                    position: relative;
                    top: 10px;
                }
                .banner {
                    width: 100%;
                    height: 27em;
                }
                .container {
                    width: 50%;
                    padding: 150px 0;
                    text-align: center;
                }
                .visual_banner h2 {
                    text-transform: capitalize;
                    font-weight: bold;
                    margin-top: 40px;
                    font-size: 40px;
                    line-height: 50px;
                    text-shadow: 0 1px 2px rgb(189 184 231);
                    color: #283697;
                }
                .banner_search {
                    left: 3vh;
                    width: 23rem;
                }
                #footeref {
                    height: 54em;
                }
                .footer_continer {
                    margin-left: 5vh;
                    grid-template-columns: repeat(1, 1fr);
                }
                .navigations {
                    margin-top: 5.5em;
                    margin-left: 0vh;
                }
                .newsShow .form-group .arrow_nav {
                    right: 70px;
                    top: 90px;
                }
            }
            
            @media screen and (max-width:375px) {
                .banner_search {
                    left: 3vh;
                    width: 20rem;
                }
                #footeref {
                    height: 56pc;
                }
                .copy {
                    margin-left: 50px;
                    font-size: 12.4px;
                }
                .newsShow .form-group .arrow_nav {
                    right: 15px;
                    top: 90px;
                }
            }