    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: none;
        -webkit-font-smoothing: antialiased;
    }
    
    body {
        width: 100%;
        height: 100vh;
        color: rgb(102, 102, 102);
        line-height: 1.7em;
        -webkit-font-smoothing: antialiased;
    }
    
    a {
        text-decoration: none;
        list-style: none;
        outline: none;
        /* color: #66667D; */
    }
    
    h2 {
        font-family: 'Work Sans', sans-serif;
    }
    
    header {
        display: block;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 999;
        width: 100%;
        animation-duration: 500ms;
    }
    
    #heads {
        position: fixed;
        width: 100%;
        display: flex;
        border-bottom: 1px solid #f2f2f2;
        padding-top: 30px;
        align-items: center;
        padding-left: 89px;
        padding-right: 89px;
        color: #000;
    }
    
    .navbodys {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        color: #000;
    }
    
    #navrun {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #000;
        padding-right: 150px;
    }
    
    #navrun a {
        color: #000;
        margin: 0px 25px;
        text-decoration: none;
    }
    
    .logo .oxford {
        width: 160px;
        margin-bottom: 10px;
    }
    
    .registered {
        display: block;
    }
    
    #btned {
        background-color: rgba(28 36 97);
        color: #fff;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid#283697;
    }
    
    #btned:hover {
        color: #283697;
        font-weight: 400;
        background-color: #fff;
    }
    
    .banner {
        width: 100%;
        height: 50vh;
        background: linear-gradient(rgba(243, 244, 251, 0.5), rgba(243, 244, 251, 0.5)), url('../img/360_F_470378319_O12dSLQ2tQCgMqnc0omif5Rc3dXGFY2D.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #banner_container {}
    
    .h2_pro h2 {
        font: 50px;
        font-weight: bold;
        margin-top: 150px;
    }
    
    .body_header {
        display: flex;
        justify-content: center;
    }
    
    .body_container {
        width: 100%;
        height: 70vh;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .body_header {
        width: 100%;
    }
    
    #body_container {}
    
    .h2_main {
        width: 100%;
        margin-top: 17vh;
    }
    
    .flow {
        color: #283697;
        font-weight: bold;
    }
    
    .h2_main h2 {
        font-size: 14px;
        margin-left: 10rem;
        margin-bottom: 20px;
        color: #666883;
        font-size: 14px;
        line-height: 1.6em;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .option_data {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 25px;
        padding-left: 150px;
        padding-right: 130px;
    }
    
    .img_wall img {
        width: 430px;
        margin-top: 5em;
    }
    
    .p_tag {
        width: 100%;
    }
    
    .p_tag h3 {
        font-size: 48px;
        font-weight: 300;
        text-align: start;
    }
    
    .p_tag p {
        width: 100%;
        font-size: 14px;
        color: #666883;
        line-height: 1.8em;
        text-align: start;
    }
    
    #img_venue {}
    
    #img_venue img {
        width: 450px;
        height: auto;
        object-fit: cover;
        object-position: center top;
        border-radius: 20px;
        border-style: none;
        display: inline-block;
    }
    
    #solution {
        width: 100%;
    }
    
    #solu_container {
        height: 215em;
        padding-left: 110px;
        padding-right: 120px;
        gap: 20px;
    }
    
    #h2 {
        width: 100%;
        margin-top: 20vh;
    }
    
    #h2 h4 {
        font-size: 48px;
        font-weight: 320;
        letter-spacing: 1px;
        margin-bottom: 100px;
    }
    
    .collect {
        /* display: flex;
        justify-content: space-between;
        position: relative;
        top: 50px; */
    }
    
    #collection {
        margin-top: 20px;
        width: 100%;
        height: 80vh;
        gap: 80px;
        display: flex;
        justify-content: space-between;
    }
    
    #h3_school {
        position: relative;
        right: 20px;
        top: 40px;
    }
    
    #h3_school h3 {
        font-size: 42px;
        font-weight: 320;
    }
    
    #h3_school p {
        font-size: 14.5px;
        color: #666883;
        line-height: 1.8em;
    }
    
    #h2 {
        margin-bottom: 0px;
    }
    
    #h2 h4 {
        font-size: 48px;
        font-weight: 320;
        letter-spacing: 1px;
    }
    
    #folder_container {
        gap: 10px;
        width: 100%;
        height: 70vh;
        padding-right: 70px;
    }
    
    .forward_data {
        width: 100%;
        height: 50vh;
        display: block;
        margin-top: 20vh;
    }
    
    .forward_data h2 {
        font-size: 42px;
        font-weight: 0;
        letter-spacing: 1px;
        /* line-height: 1.3rem; */
    }
    
    .fold {
        display: flex;
        justify-content: space-between;
    }
    
    .forward_data p {
        width: 85%;
        font-size: 14.5px;
        color: #666883;
        line-height: 1.8em;
    }
    
    #image_shop img {
        width: 450px;
        border-radius: 20px;
    }
    
    #save_data {
        width: 100%;
        height: 60vh;
        gap: 5em;
    }
    
    .collection {
        display: flex;
        justify-content: space-between;
    }
    /*     
    #img_function {
        width: 100%;
    } */
    
    #img_function img {
        width: 450px;
        height: 50vh;
        object-fit: cover;
        object-position: center top;
        border-radius: 20px;
    }
    
    #option_school {
        width: 100%;
    }
    
    #option_school h3 {
        font-size: 42px;
        font-weight: 320;
        margin-bottom: 20px;
    }
    
    #option_school p {
        font-size: 14.5px;
        color: #666883;
        line-height: 1.8em;
    }
    
    #bundle_opt {
        width: 100%;
        height: 100vh;
        display: block;
        justify-content: center;
        align-items: center;
        font-weight: 100;
    }
    
    #header_body {
        width: 100%;
        height: 40vh;
        margin-top: 10em;
        display: block;
        text-align: center;
    }
    
    #header_body div {
        font-size: 14.5px;
        margin-bottom: 20px;
        color: #666883;
    }
    
    #header_body h3 {
        position: relative;
        color: rgb(0, 0, 0);
        font-weight: 300;
        line-height: 1.3em;
        margin-top: 15px;
        font-size: 48px;
        width: 40%;
        margin-left: 22rem;
    }
    
    .bold {
        color: rgba(11, 11, 113, 0.851);
        font-weight: bold;
    }
    
    #grid_colums {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    
    #grid_colums div {
        width: 100%;
        padding: 25px;
    }
    
    #grid_colums p {
        position: relative;
        color: rgb(102, 102, 102);
        font-size: 14px;
        line-height: 1.8em;
        margin-top: 20px;
    }
    
    #grid_colums h3,
    span h4,
    span h5,
    span h6 {
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 18px;
        font-weight: 600;
        margin-top: 4px;
    }
    
    .hue {}
    
    #flushed {
        position: relative;
        padding: 40px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(225, 225, 225);
        border-image: initial
    }
    
    .grided {
        position: relative;
        padding: 40px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(225, 225, 225);
        border-image: initial
    }
    
    span p {
        font-size: 15px;
        color: #666883;
    }
    
    #system_reset {
        width: 100%;
        height: 40vh;
        font-weight: 100!important;
        margin-bottom: 20px;
    }
    
    #data_13456 {
        width: 57%;
        font-weight: 100;
    }
    
    #data_13456 h2 {
        width: 9em;
        line-height: 1.3em;
        margin-left: 2.5em;
        font-weight: 300;
        font-family: "Work Sans", sans-serif;
        font-size: 48px;
    }
    
    #data_13456 p {
        font-size: 15px;
        font-weight: 370;
        line-height: 1.3em;
        color: #666883;
    }
    
    #boxes {
        width: 100%;
        height: 60vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    #data_box {
        position: relative;
        margin-bottom: 15px;
        position: relative;
        height: 100%;
        z-index: 1;
        padding: 90px 25px 35px;
        border-width: 2px;
        border-style: solid;
        border-color: rgba(68, 88, 144, 0.1);
        border-image: initial;
        transition: all 500ms ease 0s
    }
    
    #data_box:hover {
        border: 2px solid #283697;
    }
    
    #data_box h3,
    #data_box h2 {
        padding-top: 50px;
        margin-left: 20px;
        text-align: center;
        color: rgb(102, 102, 102);
        font-family: 'works', sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    
    .step_tool {
        position: absolute;
        top: -22px;
        left: 0px;
        text-align: center;
        right: 0px;
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        background-color: rgb(255, 255, 255);
        width: 50px;
        height: 50px;
        line-height: 46px;
        z-index: 4;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(227, 227, 227);
        border-image: initial;
        border-radius: 50%;
        margin: auto;
        transition: all 500ms ease 0s;
    }
    
    #boxes #data_box .step_tool:hover {
        border: 2px solid #283697;
    }
    
    #boxes #data_box .step_tool:nth-child(3),
    #data_box:nth-child(3) {
        border-color: var(--mainSecondaryColor);
    }
    
    #data_box p {
        padding: 20px;
        color: rgb(102, 102, 102);
        font-family: 'Rubik', sans-serif;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.7rem;
    }
    
    #footeref {
        background-color: #F2F1F1;
        width: 100%;
        height: 70vh;
        /* z-index: 7; */
    }
    
    .footer_continer {
        margin-left: 15vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .h2_row {
        margin-top: 14vh;
        text-align: start;
        color: #66667D;
    }
    
    .h2_row h2 {
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        color: #000;
        line-height: 1.2rem;
        line-height: 60px;
    }
    
    .h2_row p {
        color: rgb(102, 102, 102);
        font-size: 14px;
    }
    
    .linked {
        position: relative;
        right: 4vh;
        font-family: 'Rubik', sans-serif;
        color: #66667D;
    }
    
    .linked a {
        font-weight: 400;
        font-size: 15px;
        color: rgb(102, 102, 102);
        font-weight: 500;
        margin-left: 28px;
    }
    
    #go {
        padding: 10px;
        background-color: #fff;
        border-radius: 50px;
        color: #66667D;
        position: relative;
        right: 7px;
        top: 8px;
    }
    
    #move {
        position: relative;
        right: 6vh;
        top: 1.5vh;
        padding: 10px;
        border-radius: 50px;
        color: #66667D;
        background-color: #fff;
    }
    
    .navigations {
        display: block;
        margin-top: 16.5vh;
        margin-left: 5vh;
        color: #66667D;
    }
    
    .navigations h4 {
        font-size: 20px;
        font-weight: 500;
        color: #000;
    }
    
    .navigations div {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        margin-top: 30px;
    }
    
    .navigations a {
        font-size: 15px;
        list-style: none;
        text-decoration: none;
        color: #66667D;
    }
    
    .newsShow {
        margin-top: 16.5vh;
        position: relative;
        right: 10vh;
        color: #66667D;
    }
    
    .newsShow h3 {
        font-size: 20px;
        color: #000;
    }
    
    .newsShow p {
        width: 80%;
        color: #737573;
        font-size: 14.5px;
    }
    
    .copy {
        margin-top: 40px;
        margin-left: 100px;
        font-size: 14.4px;
    }
    
    .newsShow .form-group input[type="email"] {
        position: relative;
        display: block;
        width: 330px;
        line-height: 28px;
        height: 44px;
        font-size: 14px;
        color: #000;
        font-weight: 400;
        padding: 10px 20px;
        background: #fff;
        border-radius: 5px;
        transition: all 300ms ease 0s;
        border: 1px solid rgb(204, 204, 204);
        outline: none;
    }
    
    .newsShow .form-group .arrow_nav {
        position: absolute;
        right: 90px;
        top: 90px;
        height: 44px;
        line-height: 44px;
        color: #000000;
        font-size: 20px;
        text-align: center;
        background: none;
        width: 40px;
        cursor: pointer;
        background: none;
        text-transform: capitalize;
    }
    
    button {
        background: none;
        border: none;
    }
    
    #arrow_locate[data-v-3cf17207]:hover {
        transition: all .4s ease-in-out;
    }
    
    #arrow_locate.show {
        opacity: 1;
    }
    
    #arrow_locate:hover {
        background-color: #000;
    }
    
    #arrow_locate {
        bottom: 40px;
        cursor: pointer;
        width: 40px;
        height: 40px;
        line-height: 40px;
        opacity: 0;
        position: fixed;
        color: #fff;
        right: 30px;
        text-align: center;
        z-index: 1000;
        background: #283697;
        border-width: 0px;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 2px;
        outline: none medium;
        text-decoration: none;
        transition: opacity 0.2s ease-out 0s;
    }
    
    .navbar {}
    
    #navbared {
        right: -300px;
        top: 0;
        z-index: 2;
        transition: 0.5s;
        height: 100vh;
        width: 300px;
        font-size: 15px;
        text-transform: uppercase;
        position: fixed;
        background-color: #fff;
        color: #080605;
    }
    
    nav ul li {
        border-bottom: 2px solid #f2f2f2;
        line-height: 50px;
        list-style: none;
        margin: 10px 20px;
    }
    
    nav ul li a {
        margin-top: 20px;
        color: #000;
    }
    
    #logoss img {
        margin: 12px 0 0 20px;
        width: 100px;
        background-color: white;
    }
    
    #logoss {
        line-height: 50px;
        border-bottom: 1px solid #f2f2f2;
    }
    
    #menuBtn {
        width: 50px;
        height: 45.4px;
        background: transparent;
        border: none;
        text-align: center;
        position: fixed;
        right: 25px;
        top: 3px;
        color: #000;
        border-radius: 10px;
        z-index: 3;
        cursor: pointer;
    }
    
    #menuBtn img {
        width: 35px;
    }
    
    .register {
        margin-left: 50vh;
        display: block;
        margin-top: 20px;
    }
    
    #btneds {
        background-color: rgba(28 36 97);
        color: #fff;
        margin-left: 10px;
        padding: 15px 35px;
        border: none;
        border-radius: 5px;
        font-size: 13px;
        transition: ease .98s;
    }
    
    .btnm {
        border: none;
        margin-left: 20px;
        padding: 15px 35px;
        border-radius: 5px;
        box-shadow: 2px 1px rgb(233, 243, 247);
        font-size: 13px;
    }
    
    .btnm:hover {
        border: 1px solid #14225C;
        color: #283697;
        background-color: #fff;
    }
    
    .spanner {
        font-size: 32px;
        margin-top: 120px;
        margin-left: 30px;
        color: black;
    }
    
    #menuBtn {
        display: none;
    }
    
    @media screen and (max-width:768px) {
        html,
        body {
            width: 100%;
            overflow-x: hidden!important
        }
        #heads {
            padding-top: 10px;
        }
        #navrun {
            display: none;
        }
        .registered {
            display: none;
        }
        #menuBtn {
            display: block;
        }
        nav ul li {
            position: relative;
            right: 45px;
            width: 300px;
            border-bottom: 2px solid #f2f2f2;
            line-height: 53px;
            list-style: none;
        }
        nav ul li a {
            position: relative;
            right: 0px;
            margin-top: 20px;
            color: #000;
        }
        #logoss img {
            margin: 18px 0 20px 20px;
            width: 100px;
            background-color: white;
        }
        #logoss {
            line-height: 50px;
            border-bottom: 1px solid #f2f2f2;
        }
        #menuBtn {
            display: block;
            width: 50px;
            height: 45.4px;
            background: transparent;
            border: none;
            text-align: center;
            position: fixed;
            right: 25px;
            top: 3px;
            border-radius: 10px;
            z-index: 3;
            cursor: pointer;
        }
        #menuBtn img {
            width: 35px;
        }
        .register {
            display: block;
            margin-left: 1vh;
            margin-top: 2px;
        }
        #btneds {
            background-color: rgba(28 36 97);
            color: #fff;
            margin-left: 10px;
            padding: 8px 37px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            transition: ease .98s;
        }
        .btnm {
            border: 1px solid red;
            margin-left: 10px;
            padding: 8px 37px;
            border-radius: 5px;
            box-shadow: 2px 1px rgb(233, 243, 247);
            font-size: 15px;
        }
        .option_data {
            width: 100%;
            display: block;
            justify-content: center;
            gap: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .h2_main h2 {
            width: 100%;
            position: relative;
            text-align: center;
            top: 35rem;
            right: 22rem;
            padding-right: 0rem;
            font-size: 14px;
        }
        .img_wall img {
            width: 100%;
            position: relative;
            bottom: 12em;
            margin-top: 0em;
        }
        .p_tag {
            position: relative;
            bottom: 2em;
            width: 100%;
        }
        .p_tag h3 {
            width: 100%;
            margin-bottom: 20px;
            text-align: start;
        }
        .p_tag p {
            width: 100%;
        }
        #solu_container {
            height: 210em;
            padding-left: 110px;
            padding-right: 120px;
            gap: 40px;
        }
        #h2 {
            width: 100%;
            margin-top: 5vh;
            margin-bottom: 10vh;
        }
        #img_venue img {
            width: 350px;
        }
        #h3_school h3 {
            font-size: 32px;
        }
        #h3_school p {
            letter-spacing: 1px;
            font-size: 12.5px;
        }
        #image_shop img {
            width: 350px;
            border-radius: 20px;
        }
        .forward_data {
            margin-top: 5vh;
        }
        #img_function img {
            width: 350px;
        }
        #header_body {
            height: 40vh;
            margin-left: 1em;
        }
        #header_body h3 {
            right: 147px;
            margin-top: 15px;
        }
        #grid_colums {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }
        #system_reset {
            height: 15em;
            margin-top: 40vh;
        }
        #data_13456 {
            width: 100%;
            font-weight: 100;
        }
        #data_13456 h2 {
            width: 9em;
            margin-left: 0em;
            margin-bottom: 20px;
            position: relative;
            text-align: center;
            right: 130px;
        }
        #data_13456 p {
            padding-left: 0px;
            padding-right: 35px;
        }
        #boxes {
            grid-template-columns: repeat(2, 2fr);
        }
        #footeref {
            width: 100%;
            height: 100%;
        }
        .footer_continer {
            gap: 25px;
            height: 100%;
            grid-template-columns: repeat(2, 1fr);
        }
        .newsShow {
            margin-top: 10.5vh;
            position: relative;
            right: 0vh;
            color: #66667D;
        }
    }
    
    @media screen and (max-width:1024px) {
        html,
        body {
            width: 100%;
            overflow-x: hidden!important
        }
        #heads {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 14px;
            padding-top: 10px;
        }
        #navrun {
            padding-right: 2px;
        }
        .banner {
            width: 100%;
            height: 60vh;
        }
        #banner_container {
            margin-top: 70px;
        }
        .option_data {
            gap: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }
        .img_wall img {
            width: 100%;
            margin-top: 9em;
        }
        .h2_main h2 {
            text-align: center;
            padding-right: 5rem;
            font-size: 14px;
        }
        .p_tag h3 {
            width: 100%;
            padding-right: 50px;
        }
        .p_tag p {
            padding-left: 5px;
            padding-right: 50px;
        }
        #solu_container {
            padding-left: 40px;
            padding-right: 60px;
            gap: 0px;
        }
        #collection {
            gap: 30px;
        }
        #folder_container {
            gap: 0px;
            padding-right: 0px;
        }
        .forward_data h2 {
            font-size: 32px;
        }
        #save_data {
            gap: 2em;
        }
        #option_school {
            width: 100%;
        }
        #option_school h3 {
            font-size: 30px;
            margin-bottom: 20px;
        }
        #option_school p {
            font-size: 14.5px;
        }
        #header_body h3 {
            width: 10em;
            margin-left: 14rem;
        }
        #data_13456 {
            width: 100%;
            padding-top: 0vh;
            font-weight: 100;
        }
        #data_13456 h2 {
            width: 9em;
            margin-left: 5.5em;
            text-align: center;
        }
        #data_13456 p {
            width: 100%;
            margin-left: 50px;
            font-size: 15px;
            padding-right: 100px;
        }
        #boxes {
            margin-top: 30vh;
        }
        .linked {
            right: 5vh;
        }
        #footeref {
            height: 100%;
        }
        .newsShow .form-group .arrow_nav {
            left: 14em;
            top: 110px;
        }
    }
    
    @media screen and (max-width:1440px) {
        html,
        body {
            width: 100%;
            overflow-x: hidden!important;
        }
        #footeref {
            margin-top: 45em;
            background-color: #F2F1F1;
            width: 100%;
            height: 100%;
            /* z-index: 7; */
        }
        #move {
            right: 4vh;
        }
        .newsShow .form-group .arrow_nav {
            right: 110px;
        }
    }
    
    @media screen and (max-width:425px) {
        #menuBtn {
            margin-top: 20px;
        }
        .h2_main h2 {
            top: 22rem;
            right: 13.9rem;
            padding-right: 0rem;
            font-size: 14px;
        }
        .p_tag h3 {
            font-size: 30px;
            padding-right: 60px;
        }
        #solu_container {
            height: 300em;
            padding-left: 10px;
            padding-right: 20px;
            gap: 40px;
        }
        #h2 {
            margin-top: 0px;
            margin-bottom: 60px;
        }
        #h2 h4 {
            margin-right: 30vh;
            margin-top: 0vh;
            margin-bottom: 0vh;
            font-size: 32px;
        }
        .collect {
            display: block;
            align-items: center;
        }
        #collection {
            margin-top: 20px;
            display: block;
            justify-content: center;
            margin-bottom: 30vh;
        }
        #img_venue img {
            width: 100%;
        }
        #h3_school {
            text-align: center;
            left: 2px;
            top: 40px;
        }
        #h3_school h3 {
            width: 100%;
            font-size: 32px;
        }
        #h3_school p {
            text-align: start;
            font-size: 12.5px;
        }
        #folder_container {
            display: block;
            padding-right: 0px;
        }
        .forward_data {
            width: 100%;
            height: 90vh;
            display: block;
            margin-top: 50vh;
            position: relative;
            top: 12em;
        }
        .forward_data h2 {
            font-size: 32px;
            font-weight: 100;
        }
        .forward_data p {
            width: 85%;
            font-size: 14.5px;
        }
        #image_shop img {
            position: relative;
            bottom: 40em;
            width: 100%;
        }
        .collection {
            display: block;
            justify-content: center;
        }
        #option_school {
            margin-top: 50px;
        }
        #bundle_opt {}
        #header_body {
            width: 100%;
            margin-top: 13em;
            height: 20vh;
            display: block;
            text-align: center;
            margin-bottom: 50px;
        }
        #header_body div {
            margin-right: 20px;
            font-size: 14.5px;
            margin-bottom: 20px;
            color: #666883;
        }
        #header_body h3 {
            margin-top: 15px;
            font-size: 28px;
            width: 100%;
            padding-right: 50px;
            padding-left: 55px;
            margin-left: 8rem;
        }
        #grid_colums {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            padding-left: 30px;
            gap: 30px;
            padding-right: 30px;
        }
        #grid_colums p {
            font-size: 14px;
            line-height: 1.8em;
            margin-top: 20px;
        }
        #system_reset {
            height: 8em;
            margin-top: 43em;
            font-weight: 100!important;
        }
        #data_13456 h2 {
            font-weight: 300;
            margin-left: 4.5em;
            margin-right: 0px;
            font-size: 38px;
        }
        #data_13456 p {
            margin-left: 15px;
            font-size: 14px;
            line-height: 1.3rem;
            letter-spacing: 1px;
            padding-right: 20px;
        }
        #boxes {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            padding-left: 20px;
            padding-right: 10px;
        }
        .footer_continer {
            margin-left: 3vh;
            grid-template-columns: repeat(1, 1fr);
        }
        .h2_row p {
            font-size: 15px;
            line-height: 1.3rem;
            padding-right: 30px;
        }
        #move {
            right: 7vh;
        }
        .navigations {
            margin-top: 5.5vh;
            margin-left: 0vh;
        }
        .newsShow .form-group .arrow_nav {
            right: 85px;
            top: 92px;
        }
        .newsShow {
            margin-top: 5.5vh;
        }
    }
    
    @media screen and (max-width:375px) {}